<header>
    <div class="logo">
        <a href="index.html">
            <img src="img/logo.svg" alt="" width="40" height="40">
            <span>Hermanos Jota</span>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="productos.html">Catálogo</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <div class="cart-container">
        <a href="#" id="cart-icon">🛒 Carrito</a>  
        <span id="cart-count">0</span>
    </div>
</header>